.demand {
  padding: 20px;
}

.demand .top-select .left-text {
  line-height: 30px;
  margin-left: 50px;
  font-size: 14px;
}

.demand .top-select .right-input {
  width: 200px;
  height: 28px;
  border: 1px solid #eee;
  padding-left: 8px;
}

.demand .top-select .right-input::-webkit-input-placeholder {
  color: #999;
}

.demand .top-select .right-select {
  width: 200px;
  height: 28px;
  border: 1px solid #eee;
  outline: none;
}

.demand .demand-list {
  width: 100%;
  padding-top: 30px;
}

.demand .demand-list .demand-tab {
  width: 100%;
  text-align: center;
  color: #666;
}

.demand .demand-list .demand-tab tr th {
  font-size: 14px;
  text-align: center;
  line-height: 40px;
}

.demand .demand-list .demand-tab tr td {
  font-size: 14px;
  line-height: 40px;
  border: 1px solid #eee;
}
