.chartBox{
    width: 90%;
    margin: 50px auto;
    #myChart,#myChart3{
        width: 800px;
        height: 400px;
    }
    #myChart{
        width: 800px;
        height: 400px;
    }
    #myChart1,#myChart2{
        display: inline-block;
        width: 600px;
        height: 400px;
    }
}
