<div class="demand">
    <div class="top-select">
        <div class="inlineblock">
            <span class="left-text inlineblock vm">名称：</span>
            <input type="text" class="inlineblock vm right-input" ng-model="vm.myFilter.bookname" ng-change="vm.log()" placeholder="请输入名称">
        </div>
        <div class="inlineblock">
            <span class="left-text inlineblock vm">时间：</span>
            <daterange-picker start-time="" end-time="" class="inlineblock vm right-input"></daterange-picker>
        </div>
        <div class="inlineblock">
            <span class="left-text inlineblock vm">状态：</span>
            <select class="inlineblock vm right-select" ng-options="status for status in vm.bookStatus" ng-model="vm.myFilter.stat_name" ng-change="vm.log()">
            </select>
        </div>
    </div>
    <div class="demand-list">
        <table class="demand-tab">
            <tr>
                <th width="20%">书籍名称</th>
                <th width="20%">作者</th>
                <th width="20%">更新时间</th>
                <th width="20%">状态</th>
                <th width="20%">操作</th>
            </tr>
            <tr ng-repeat="item in vm.list | filter : vm.myFilter">
                <td ng-bind="item.bookname"></td>
                <td ng-bind="item.author_name"></td>
                <td ng-bind="item.date_updated | date:'yyyy-mm-dd  hh:mm:ss' "></td>
                <td ng-bind="item.stat_name"></td>
                <td>
                    <span class="cp f_blue mr10" ui-sref="listDetail({'bid': item.bid,'type':'revise'})">修改</span>
                    <span class="cp" ui-sref="listDetail({'bid': item.bid,'type':'detail'})">详情</span>
                </td>
            </tr>
        </table>
    </div>
</div>